body{
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.todo-container{
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.todo-container h1{
    text-align: center;  
}

#todo-form{
    display: flex;
    margin-bottom: 20px;
}

#todo-input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#todo-form button{
    padding: 10px;
    font-size: 16px;
}

#todo-list{
    list-style: none;
    padding: 0;
}

.todo-item{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #eee;
    margin-bottom: 10px;
}

.todo-item.completed .task{
    text-decoration: line-through;
    color: gray;
}

.todo-item .task{
    flex: 1;
}

.todo-item button{
    margin-left: 5px;
}